* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
height: 500px;
background-color: #13289ef0;
}

.header-container {
  /* width: 100%; */
  height: 100%;
}

.header-nav {
  width: 80%;
  line-height: 80px;
  font-size: 80%;
  text-transform: uppercase;
}

.banner {
  width: 100%;
  height: 100%;
}

.header-nav a {
  text-decoration: none;
  color: white;
}

.header-nav .header-logo,
.header-nav .header-nav-center,
.header-nav .header-nav-right {
  float: left;
}

.header-nav .header-logo {
  width: 15%;
}

.header-nav .header-logo img {
  margin-top: 15px;
  max-width: 100%;
}

.header-nav .header-nav-center {
  width: 45%;
}

.header-nav .header-nav-right {
  width: 40%;
  text-align: right;
}

/* menu */
.menu-inline {
  list-style: none;
}

.menu-inline li {
  display: inline;
  padding: 0 10px;
}

/* fine menu */


/* buttons */
.btn {
  display:inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  line-height: 20px;
  color: white;
  text-transform: uppercase;
}
.btn-green {
  background-color: #4CAF50;
}
.btn-blue {
  background-color: #13289ef0;
  padding-right: 30px;
  padding-left: 30px;
  border: 1px solid white;
}


/* fine buttons */






/* header {
  height: 60vh;
  width: 100%;
}

.box-logo {
  margin-left: 30vh;
}

.box-logo,
.box-nav {
  float: left;
  width: auto;
  margin-top:10px;
}

.logo-menu {
  height: 15vh;
  background-color: #13289ef0;
}

.logo {
  height: 40px;
  margin: 5px;
}

img ul.menu {
  list-style: none;
  text-align: center;
  line-height: 100px;
}

nav {
  top: 0;
  width: 100%;
  height: 82px;
}

ul.menu a {
  text-decoration: none;
  color: white;
}

li {
  font-size: 10px;
}

ul.menu li {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 15px;
}


.button-0 {
  width: 60px;
  border: solid;
  border-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-1 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
}

.banner-blue {
  position: relative;
  height: 60vh;
  background-color: #13289ef0;
}

.banner-blue img {
  object-fit: cover;

}

.banner-text {
  position: absolute;
  bottom: 20vh;
  width: 60%;
  padding: 50px;
  color: white;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.banner-1 {
  width: auto;
  height: 50vh;
  position: relative;
  object-position: right;
  top: 72px;
  left: 40vw;
}

.button-2 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.banner-grey {
  width: 100%;
  height: 20vh;
  background-color: grey;
}

main {
  height: 15vh;
  width: 100%;
  background-color: lightgrey;
}

.middle-text {
  text-align: center;
  /* padding: 15px; */
}


/
